@{
    ViewBag.Title = "Medical institutions";
}

<div>
    <h1>Medical institutions</h1>
    <h3>
        Application for managment and information about medical institutions of Novosibirsk
    </h3>
</div>